@import './variables';

// styles applied to the header of the column group,
// which contains all column headers in the group
.react-datagrid__column-group__header {
  color: $HEADER_COLOR;
  background: $HEADER_BG;
  border-bottom: 1px solid $HEADER_BORDER_COLOR;
  font-weight: 600;
}

// cell styles
.react-datagrid__cell {
  padding: 10px 5px;
}

.react-datagrid__column-resizer {
  width: $COLUMN_HEADER_RESIZER_WIDTH;
  right: - $COLUMN_HEADER_RESIZER_WIDTH / 2;
  padding-left: ($COLUMN_HEADER_RESIZER_WIDTH - $COLUMN_HEADER_RESIZER_VISIBLE_WIDTH) / 2;
  padding-right: ($COLUMN_HEADER_RESIZER_WIDTH - $COLUMN_HEADER_RESIZER_VISIBLE_WIDTH) / 2;
  user-select: none;
}
.react-datagrid__column-header__resize-wrapper--last-in-group .react-datagrid__column-resizer {
  right: - ($COLUMN_HEADER_RESIZER_WIDTH - $COLUMN_HEADER_RESIZER_VISIBLE_WIDTH) / 2;
}
.react-datagrid__column-resizer-handle {
  background: $HEADER_BORDER_COLOR;
}

.react-datagrid__resize-proxy {
  width: $COLUMN_HEADER_RESIZER_VISIBLE_WIDTH;
  background: $HEADER_BORDER_COLOR;

  &--constrained {
    background: $COLUMN_HEADER_RESIZER_CONSTRAINED_COLOR;
  }
}

// styles for the header of a single column
.react-datagrid__column-header {
  background: $HEADER_BG;
  padding: 10px 5px;

  border-right: 1px solid $HEADER_BORDER_COLOR;
  line-height: 1.6;

  &--dragging {
    opacity: 0.5;
    z-index: 100;
  }

  &--sortable {
    user-select: none;
    cursor: pointer;
  }

  &--resizable {
  }

}
