.react-datagrid {
  border: 1px solid #c2c2c2;
  box-shadow: 1px 2px 11px 4px rgba(181, 181, 181, 0.3); }
  .react-datagrid:focus {
    outline: none; }

/*----------  Row  ----------*/
.react-datagrid__row--hover {
  background: #bfbfbf; }

.react-datagrid__row--odd {
  background: #fafafa; }

.react-datagrid__row--active {
  background: #c2e1fa;
  color: inherit; }

.react-datagrid__column-group__header {
  color: #656464;
  background: #f5f5f5;
  border-bottom: 1px solid #c2c2c2;
  font-weight: 600; }

.react-datagrid__cell {
  padding: 10px 5px; }

.react-datagrid__column-resizer {
  width: 10px;
  right: -5px;
  padding-left: 3px;
  padding-right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.react-datagrid__column-header__resize-wrapper--last-in-group .react-datagrid__column-resizer {
  right: -3px; }

.react-datagrid__column-resizer-handle {
  background: #c2c2c2; }

.react-datagrid__resize-proxy {
  width: 4px;
  background: #c2c2c2; }
  .react-datagrid__resize-proxy--constrained {
    background: #FFB84F; }

.react-datagrid__column-header {
  padding: 10px 5px;
  border-right: 1px solid #c2c2c2;
  line-height: 1.6; }
  .react-datagrid__column-header--sortable {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer; }

/*----------  Cell  ----------*/
/*----------  Borders  ----------*/
.react-datagrid--cell-borders-both .react-datagrid__cell {
  border-right: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2; }

.react-datagrid--cell-borders-horizontal .react-datagrid__cell {
  border-bottom: 1px solid #c2c2c2; }

.react-datagrid--cell-borders-vertical .react-datagrid__cell {
  border-right: 1px solid #c2c2c2; }

/*----------  Body  ----------*/
/*----------  Scroller  ----------*/
/*----------  Load Mask  ----------*/
